{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> {% block title %} Blog in Django {% endblock %} </title>

	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.min.css">

	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">

</head>
<div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
  <span class="sr-only">45% Complete</span>
  </div>
</div>
<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'posts:list' %}">Blojengo</a>
    </div>
      <ul class="nav navbar-nav">
        <li><a href="{% url 'posts:list' %}">Posts</a></li>
        <li><a href="#">Usuario</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
      <li><a href="#">API</a></li>
        <p class="navbar-text">Developer: <a href="https://github.com/Izaark" class="navbar-link">Isaac</a></p>
      </ul>
    </div>
</div>

  {% block head_extra %}
  
  {% endblock head_extra %}

<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.9&appId=398599473860653";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div id="fb-root"></div>

{% include "messages_display.html" %}	
<div class="container">
	{% block content %}	
	{% endblock content %}
</div>

<script
  src="https://code.jquery.com/jquery-1.12.4.js"
  integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
  crossorigin="anonymous">
</script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>

<script type="text/javascript">

  $(document).ready(function(){      
   // renderiza de markdown a html para todo el contenido con jquery, "es mejor desde django en el back" 
    $('.content-markdown').each(function(){
          var content = $(this).text()
          console.log(content)
          var markedContent = marked(content)
          console.log(markedContent)
          $(this).html(markedContent)
      })
    // hace la imagen responsiva, la cual se llama en post_list.html
    $('.post-detail-art img').each(function(){
      $(this).addClass('img-responsive')
    })


  var contentInput = $('#id_content');
      //$('#preview-content').html(marked(contentInput.val()))

  //para que sea responsive la imagen y el contenido y en tiempo real con keyup
  function setContent(value){
    if (value){
      var markedContent = marked(value)
      $('#preview-content').html(markedContent)
      $('#preview-content img').each(function(){
        $(this).addClass('img-responsive')
      })
    }
  }
  setContent(contentInput.val())
  contentInput.keyup(function(){
    // console.log($(this).val())
    var newContent = ($(this).val())
    setContent(newContent)
  })

    // preview del titulo y titile en tiempo real con keyup
  var titleInput = $('#id_title');
  function setTitle(value){
    $('#preview-title').html(value)
  }
  setTitle(titleInput.val())
  titleInput.keyup(function(){
    var newContent = ($(this).val())
    setTitle(newContent)
  })
  
  //   // Toggle para el div de respuesta
  $(".comment-reply-res").click(function(event){
  event.preventDefault();
  $(this).parent().next(".comment-reply").fadeToggle();
  })
 })
</script>
</body>
</html>
