{% extends "base.html" %}
{% load urlify %}

{% block title %} {{ block.super }} {% endblock title %}
{% block content %}
<div class="col-sm-5 col-sm-offset-4">
	{% if instance.image %}
		<img src="{{ instance.image.url }}" class="img-responsive">
     {% endif %}
	<h2>{{ title }} <small> {{ instance.timestamp}}</br> </small></h2>
	{{ instance.content }}</br>
	{{ share_string}}<br>
	{{ instance.title|urlify}}


		<a href="https://www.facebook.com/sharer/sharer.php?{{ request.build_absolute_uri }}">
		<i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>

		<a href="https://twitter.com/home?status=Crea%20tu%20blog%20dale%20click%20{{ request.build_absolute_uri }}">
		<i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a>

		<a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'><i class="fa fa-google-plus-square fa-3x" aria-hidden="true"></i></a>

		<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title=Mira%20mi%20blog&
		summary=Mira%20lo%20que%20publico%20en%20mi%20blog%20de%20tecnolog%C3%ADa%2C%20dale%20click.">
		<i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
		</a>
</div>

{% endblock content %}