{% extends "base.html" %}
{% load crispy_forms_tags %}
 {% block head_extra %}
   {{ form.media }}
{% endblock head_extra %}
{% block title %} Actualizar {% endblock title %}

{% block content %}
    <div class="col-sm-6">
        <h2><strong>Actualizar Post</strong></h2><hr>
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Actualizar post" class="btn btn-success">
        </form> 
    </div>
    <div class="col-sm-6">
    	<h2><strong>Preview</strong></h2>
    	<div class="content-preview">
    		<h4 id="preview-title"></h4><hr>
    		<p id="preview-content"></p><hr>
    	</div>
    </div>
{% endblock content %}