{% extends "base.html" %}

{% block content %}

<div class="col-sm-5 col-sm-offset-4">
	
       <form class="col-sm-6 col-sm-offset-3" method="GET">
        <div class="form-group">
        <h3 class="col-sm-offset-4">Lista</h3>
          <input type="text" class="form-control" placeholder="Buscar Post" name="q"
          value="{{ request.GET.q }}">
          <button type="submit" class="col-sm-12 btn btn-primary" >Buscar <i class="fa fa-search fa-1x" aria-hidden="true"></i></button>
        </div>
      </form>

	{% for obj in object_list %}
		{# <h1>{% url "posts:detail" id=obj.id %}</h1> #}
<div class="row">
	<div class="col-sm-12">
    	<div class="thumbnail">
      {% if obj.image %}
         <img src="{{ obj.image.url }}" class="img-responsive">
      {% endif %}
		      <div class="caption post-detail-art">
            {% if obj.draft%}
              <h3>Draft</h3> 
            {% endif %}
          {% if obj.publish > today %}
            <h3>Post al futuro</h3>
          {% endif %}
		        <h3><a href="{{ obj.get_absolute_url }}"> {{ obj.title }}</a><hr>
		        <small>{{ obj.publish}}</small></h3>

              {% if obj.user.get_full_name %}
                  <h4> Author: {{ obj.user.get_full_name }}</h4>
              {% else %}
                  <h4> Author: {{ obj.user }}</h4>
              {% endif %}

		        <p class="">{{ obj.get_markdown|truncatewords_html:30 }}</p>

		        <p class="list-btn">
            <a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">Ver</a>
            {% if request.user == obj.user %}
              <a href="{{ obj.get_absolute_url_update }}" class="btn btn-warning" role="button">Editar</a>
              <a href="{{ obj.get_delete_url }}" class="btn btn-danger" role="button">Eliminar</a>
            {% endif %}

            </p>
		      </div>
  		</div>
  </div>
  <hr/>
</div>
	{% endfor %}

<div class="floating  col-sm-offset-10 ">
  <a href="{% url 'posts:create' %}" class="btn btn-info btn-fab"><i class="material-icons">add</i></a>
</div>

{# Paginación #}
<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if reques.GET.q %} &q={{ request.GET.q }}{% endif %}">Anterior</a>
        {% endif %}
        <span class="current">
            Pag. {{ object_list.number }} de {{ object_list.paginator.num_pages }}.
        </span>
        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if reques.GET.q %} &q={{ request.GET.q }}{% endif %}">Siguiente</a>
        {% endif %}
    </span>
</div>

{% endblock content %}