{% extends "base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}

{% block title %} {{ block.super }} {% endblock title %}
{% block content %}
<div class="col-sm-5 col-sm-offset-4">
	{% if instance.image %}
		<img src="{{ instance.image.url }}" class="img-responsive">
     {% endif %}
	<h3>{{ title }} <small>  {% if instance.draft %} <span style="color:blue">Draft</span>{% endif %} {{ instance.timestamp}}</small></h3>

	{% if instance.user.get_full_name %}
		<h4> Author: {{ instance.user.get_full_name }}</h4>
	{% else %}
		<h4> Author: {{ instance.user }}</h4>
	{% endif %}
	<div class="post-detail-art"> {{ instance.get_markdown}} </div>
	{{ instance.comments.all}}

	
		{# |safe html #}
<!--	{{ share_string}}<br>
	{{ instance.title|urlify}} -->
		<h3>Comparte el post en: </h3>
		<a href="https://www.facebook.com/sharer/sharer.php?{{ request.build_absolute_uri }}">
		<i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>

		<a href="https://twitter.com/home?status=Crea%20tu%20blog%20dale%20click%20{{ request.build_absolute_uri }}">
		<i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a>

		<a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'><i class="fa fa-google-plus-square fa-3x" aria-hidden="true"></i></a>

		<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title=Mira%20mi%20blog&
		summary=Mira%20lo%20que%20publico%20en%20mi%20blog%20de%20tecnolog%C3%ADa%2C%20dale%20click.">
		<i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
		</a>

<div>
	<p class="lead">Comentarios</p>
	<form method="POST" action=".">{% csrf_token %}
		{{ comment_form|crispy }}
		<input type="submit" value="Comentar" class="bnt btn-info" >
	</form>
	</br>
	{% for comment in comments %}
		<blockquote>
			<p>{{comment.content}}</p>
			<footer>Por: {{ comment.user}} | Hace {{ comment.timestamp|timesince}}</footer>
		</blockquote>
	{% endfor %}
</div>
	
		<!--<hr><div class="fb-comments" data-href="{{ request.build_absolute_uri}}" data-numposts="5"></div> -->

		<br><div class="fb-like" data-href="{{ request.build_absolute_uri}}" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="false"></div>
		<hr><div class="fb-follow" data-href="https://www.facebook.com/izaak.the.new" data-layout="standard" data-size="large" data-show-faces="true"></div>

</div>


{% endblock content %}