h2{
	color: blue;
}
h3{
	color: green;
}
.wmd-panel {
margin-left: 0px !important;
margin-right: 0px !important;
}
.progress {
    height: 6px;
    background: #c8c8c8;
    margin-bottom: 0px;
}

.form-control {
    background-color: #FAFAFA;
}