body {
    background-color: #D7CEC7;
}
.progress .progress-bar, .progress .progress-bar-default {
    background-color: #76323F;
}
.navbar.navbar, .navbar-default.navbar {
    background-color: #76323F;
    color: rgba(255,255,255,.84);
}
h2{
	color: #76323F;
	
}
h3{
	color: #76323F;
}
a{
	color: #76323F;
}
.navbar.navbar .dropdown-menu li>a:hover, .navbar-default.navbar .dropdown-menu li>a:hover, .navbar.navbar .dropdown-menu li>a:focus, .navbar-default.navbar .dropdown-menu li>a:focus {
    color: #B40404;
}
.thumbnail {
	background-color: #F5F5F5;
	}
.wmd-panel {
margin-left: 0px !important;
margin-right: 0px !important;
}
.progress {
    height: 6px;
    background: #c8c8c8;
    margin-bottom: 0px;
}

.form-control {
    background-color: #FAFAFA;

}
.form-control:hover {
    background-color: #FAFAFA;
    background-image: linear-gradient(#0688,#009),linear-gradient(#d2d,#d2d);
}

.comment-reply{
	display:none;
}
.list-btn{
	margin-left: 10%;
}
.btn-list-sc:not(.btn-link):not(.btn-flat) {
    background-color: #76323F;
    color: rgba(255,255,255,.84);
}
.btn-list-sc:not(.btn-link):not(.btn-flat):hover {
    background-color: #76323F;
    color: #C09F8D;
}
.btn-primary:not(.btn-link):not(.btn-flat) {
    background-color: #C09F8D;
    color: rgba(255,255,255,.84);
}
.btn-primary:not(.btn-link):not(.btn-flat):hover {
    background-color: #76323f;
    color: rgba(255,255,255,.84);
}
.btn-warning:not(.btn-link):not(.btn-flat) {
    background-color: #AB9874;
    color: rgba(255,255,255,.84);
}
.btn-warning:not(.btn-link):not(.btn-flat):hover {
    background-color: #DF7401;
    color: rgba(255,255,255,.84);
}
.btn-danger:not(.btn-link):not(.btn-flat) {
    background-color: #61380B;
    color: rgba(255,255,255,.84);
}
.btn-danger:not(.btn-link):not(.btn-flat):hover {
    background-color: #B40404;
    color: rgba(255,255,255,.84);
}